
p {
    font-size: 16px;
    color: #0c1adb;
    font-size : 18px;
    text-align: center;
}

h1 {
    color: #ff5733;
    font-family: "Comic Sans MS", "Comic Sans", cursive, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;  
    text-transform: capitalize;
    text-shadow: -2px 0 rgb(4, 40, 197), 0 2px rgb(42, 10, 223), 2px 0 rgb(43, 8, 240), 0 -2px rgb(15, 37, 228);
    

}

h2 {
    color: #28a745;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    padding: 0;
    color: #9c127e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: #ff8c00;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: #ff0000;
    text-decoration: none;
    font-size: 20px;
}

.myDiv {
    text-align: center;
}




blockquote {
    font-style: italic;
    color: #000000;
    padding-left: 20px;
    margin: 20px 0;
    text-align: center;
}

body {
    background-color: #87dad3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #0fa0da;
}

.fancy-card {
    background-color: rebeccapurple;
    border: 2px solid #0fa0da;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


